/* ========================================================================
   Component: layout
 ========================================================================== */
body,
.wrapper > section {
  background-color: #f5f7fa;
}
.wrapper > .aside {
  background-color: #3a3f51;
}
/* ========================================================================
   Component: top-navbar
 ========================================================================== */
.topnavbar {
  background-color: #fff;
}
.topnavbar .navbar-header {
  background-image: none;
  background-color: #fff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec2121', endColorstr='#fff05050', GradientType=1);
}
@media only screen and (min-width: 768px) {
  .topnavbar .navbar-header {
    background-image: none;
  }
}
.topnavbar .navbar-nav > li > .navbar-text {
  color: #5b76ff;
}
.topnavbar .navbar-nav > li > a,
.topnavbar .navbar-nav > .open > a {
  color: #5b76ff;
}
.topnavbar .navbar-nav > li > a:hover,
.topnavbar .navbar-nav > .open > a:hover,
.topnavbar .navbar-nav > li > a:focus,
.topnavbar .navbar-nav > .open > a:focus {
  color: #244168;
}
.topnavbar .navbar-nav > .active > a,
.topnavbar .navbar-nav > .open > a,
.topnavbar .navbar-nav > .active > a:hover,
.topnavbar .navbar-nav > .open > a:hover,
.topnavbar .navbar-nav > .active > a:focus,
.topnavbar .navbar-nav > .open > a:focus {
  background-color: transparent;
}
.topnavbar .navbar-nav > li > [data-toggle='navbar-search'] {
  color: #858796;
}
.topnavbar .nav-wrapper {
  background-color: #fff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec2121', endColorstr='#fff05050', GradientType=1);
}
@media only screen and (min-width: 768px) {
  .topnavbar {
    background-color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec2121', endColorstr='#fff05050', GradientType=1);
  }
  .topnavbar .navbar-nav > .open > a,
  .topnavbar .navbar-nav > .open > a:hover,
  .topnavbar .navbar-nav > .open > a:focus {
    box-shadow: 0 -3px 0 rgba(255, 255, 255, 0.5) inset;
  }
  .topnavbar .navbar-nav > li > .navbar-text {
    color: #858796;
  }
  .topnavbar .navbar-nav > li > a,
  .topnavbar .navbar-nav > .open > a {
    color: #858796;
  }
  .topnavbar .navbar-nav > li > a:hover,
  .topnavbar .navbar-nav > .open > a:hover,
  .topnavbar .navbar-nav > li > a:focus,
  .topnavbar .navbar-nav > .open > a:focus {
    color: #244168;
  }
}
/* ========================================================================
   Component: sidebar
 ========================================================================== */
.sidebar::-webkit-scrollbar {
  display: none;
}
.sidebar {
  background-color: #4e73df;
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,#4e73df),to(#224abe));
  background-image: linear-gradient(180deg,#4e73df 10%,#224abe 100%);
  background-size: cover;
}
.sidebar .user-block .user-block-info .user-block-name {
  color: #fff;
}
.sidebar .nav-heading {
  color: rgba(255,255,255,.4);
}
.sidebar .nav > li > a,
.sidebar .nav > li > .nav-item {
  color: rgba(255,255,255,.8);
}
.sidebar .nav > li > a:focus,
.sidebar .nav > li > .nav-item:focus,
.sidebar .nav > li > a:hover,
.sidebar .nav > li > .nav-item:hover {
  color: #fff;
}
.sidebar .nav > li > a > em,
.sidebar .nav > li > .nav-item > em {
  color: inherits;
}
.sidebar .nav > li.active,
.sidebar .nav > li.open,
.sidebar .nav > li.active > a,
.sidebar .nav > li.open > a,
.sidebar .nav > li.active .nav,
.sidebar .nav > li.open .nav {
  background-color: transparent;
  color: #fff;
}
.sidebar .nav > li.active > a > em,
.sidebar .nav > li.open > a > em {
  color: #fff;
}
.sidebar .nav > li.active {
  border-left-color: #fff;
}
.sidebar-subnav {
  background-color: #3a3f51;
}
.sidebar-subnav > .sidebar-subnav-header {
  color: #e1e2e3;
}
.sidebar-subnav > li > a,
.sidebar-subnav > li > .nav-item {
  color: #e1e2e3;
}
.sidebar-subnav > li > a:focus,
.sidebar-subnav > li > .nav-item:focus,
.sidebar-subnav > li > a:hover,
.sidebar-subnav > li > .nav-item:hover {
  color: #5d9cec;
}
.sidebar-subnav > li.active > a,
.sidebar-subnav > li.active > .nav-item {
  color: #5d9cec;
}
.sidebar-subnav > li.active > a:after,
.sidebar-subnav > li.active > .nav-item:after {
  border-color: #5d9cec;
  background-color: #5d9cec;
}
/* ========================================================================
   Component: offsidebar
 ========================================================================== */
 .offsidebar {
   border-left: 1px solid #cccccc;
   background-color: #fff;
   color: #515253;
  }
  
/* ========================================================================
    Component: button (my custom)
  ========================================================================== */
.btn {
  border-radius: 20px;
}
